<mat-card class="main__container">
  <mat-card-title>
    Зайняття
    <button mat-stroked-button (click)="offline = !offline">
      <ng-container *ngIf="offline; else offline_label">OFFLINE</ng-container>
      <ng-template #offline_label>ONLINE</ng-template>
    </button>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Предмет</mat-label>
        <select matNativeControl required formControlName="subject">
          <option *ngFor="let subject of subjects" [value]="subject.key">{{ subject.name }}</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <input id="topicInput"
               type="text"
               placeholder="Тема"
               aria-label="Number"
               matInput
               [matAutocomplete]="auto"
               formControlName="topic">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic.name">
            {{ topic.name }}
            <div class="topic__option__delete__button__wrapper">
              <div class="topic__option__delete__button" (click)="removeTopic(topic)">X</div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field *ngIf="offline">
        <input matInput placeholder="Час початку" type="datetime-local" formControlName="datetimeStart">
      </mat-form-field>

      <mat-form-field *ngIf="offline">
        <input matInput placeholder="Кількість часу (1h 2m)" type="text" formControlName="time">
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="startLesson()">Розпочати</button>
  </mat-card-actions>
</mat-card>
